# Default is to not track ...
*

# But, these are the files which actually get tracked.
!/.gitignore
!/fingerprint.bat
!/fingerprint.sh
!/LICENSE
!/MD5SUM.txt
!/README.md
!/SHA1SUM.txt
!/SHA256SUM.txt
!/transfer.bat
!/workspace.code-workspace

